body {
    background-color: white;
}

.DivColor {
    background-color: blueviolet;
}

.titleHeader {
    height: 200px;
    background-color: #D9D9D9;
    color: red;
}

.nav {
    width: 80%;
    margin: auto;
    padding-top: 120px;

}


.flex {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1.3;
}

img {
    width: 100%;
}

.purple-section {
    background: #6a1b9a;
    padding: 60px;
}

.custom-btn-left {
  background-color: #ff0000 !important; 
  color: #fff !important;
  border: 1px solid #ff0000 !important;
}

.custom-btn-middle {
  background-color: #eeff00 !important; 
  color: #fff !important;
  border: 1px solid #d0ff00 !important;
}

.custom-btn-right {
  background-color: #929c00 !important; 
  color: #fff !important;
  border: 1px solid #bdc000 !important;
}