body {
    background-color: white;
}
.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 200px;
    background-color: #D9D9D9;
    color:red
    ;
}

.nav{
    width:80%;
    margin:auto;
    padding-top:120px;
    
}


    .flex {
      display: flex;
      margin: 100px;
      align-items: center;
      justify-content: space-between;
      padding:5px;
      border:1px solid black;
    }
    .text { flex: 1; padding: 20px; }
    .image { flex: 1.3; }
    img { width: 100%;}
 